/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 .container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px 8px 0 0;
    background: white;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

#result{
    background-color: #413e3e;
    color: white;
    border-radius: 8px 8px 0 0;
    padding: 20px;
    font-size: 20px;

}

.buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1px; 
}

.row{
    display: flex;
    justify-content: space-around;
    gap: 1px; 
}

 .row button{
    width: 75px;
    height: 75px;
    border-radius: 0 0 0 0;
    outline: none;
    border: none;
    font-size: 20px;
    text-align: center;
    transition: 0.2s all linear; 
} 

.row button:hover{
    background-color: #e0e0e0;
}

.row button:active{
    background-color: #eeb3b3;
}

#equal{
    width: 150px;
}

#dot{
    font-weight: 600;
} */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:bisque;
}

#container{
    background-color: white;
    box-shadow: 8px 8px 8px grey;
    border-radius: 5px;
}

#result{
    padding: 20px 30px;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: darkgray;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.row button{
    font-size: 20px;
    width: 23%;
    height: 50px;
    cursor: pointer;
}

.row .special{
    width: 154px;
}

.light{
    background-color: rgb(207, 204, 204);
}

.orange{
    background-color: orange;
}

.dark{
    background-color: darkgray;
}